<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.activitys.DropdownComponentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.SwiperViewActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.activitys.ExpandedCardView"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.ListsCardsActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activitys.ToggleButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.DialogsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.RangeSlidersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.CircularImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.SwitchButtonsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.LoaderViewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.ProgressViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.ButtonViewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activitys.EditFieldsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>